/* Cart.css */
.cart-container {
    background-color: #717b58;
    /* Light gray background */
    border: 1px solid #ddd;
    /* Light gray border */
    border-radius: 8px;
    /* Rounded corners */
    padding: 20px;
    /* Padding inside the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    margin: 20px 0;
    /* Margin to separate from other elements */
}

.cart-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cart-item-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}